[user]
	name = Bram Van der Sype
	email = bram.vandersype@gmail.com
[core]
	excludesfile = ~/.gitignore
[alias]
    ci = commit
    co = checkout
    st = status
    unstage = reset HEAD --
    su = submodule update

