[submodule "honukai-iterm-zsh"]
	path = honukai-iterm-zsh
	url = https://github.com/oskarkrawczyk/honukai-iterm-zsh.git
[submodule "alias-tips"]
	path = alias-tips
	url = https://github.com/djui/alias-tips
