[user]
	name = Bram Van der Sype
	email = bram.vandersype@gmail.com
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
[format]
	pretty = format:%Cgreen%h%Creset - %C(yellow)%cd%Creset - %s

[pull]
	rebase = false
