[user]
	name = Bram Van der Sype
	email = bram.vandersype@gmail.com
[core]
	excludesfile = ~/.gitignore
[format]
	pretty = format:%Cgreen%h%Creset - %C(yellow)%cd%Creset - %s
[alias]
    ci = commit
    co = checkout
    st = status
    unstage = reset HEAD --
    su = submodule update

